<!--The content below is only a placeholder and can be replaced.-->

<!-- <app-root></app-root>  -->

 <!-- <h1> hi from app-root!</h1> -->

<!-- ################################### -->
<!-- ############[ My Pages ]########### -->
<!-- ################################### -->

<!-- ________[User]_________ -->

<!-- <app-login></app-login> -->
<!-- <router-outlet></router-outlet> -->

    <!-- 
    [HEADER]
    

    [TOP MODULE]
    

    [BUTTONS]
    

    [BOTTOM MODULE]
    

    [FOOTER]
    

     -->
     
<!-- <app-profile></app-profile> -->
<!-- <app-register></app-register> -->

<!--########################################################-->
<!--#############[         Nav Bar            ]############-->
<!--########################################################-->
<div style="text-align:center">
<nav class="navbar navbar-brand navbar-dark fixed-top zx-color">

      <!--  <button class="btn sw-button-to-a sw-color-black float-right"
              type="submit" 
               form="widgetForm">
                <i class="fas fa-check"></i>
                </button> -->
        <h1 id="zx_Header_color">Motivation App</h1>
</nav>
</div>

<br>


<!--  <button   type="submit" 
                
                class="btn btn-primary btn-block">
                Submit
                </button> -->

<div style="text-align:center">
  <!-- <h1>      {{ title }}    </h1> -->
  
  <img width="300" alt="Giffy Logo" src="https://i0.wp.com/25.media.tumblr.com/tumblr_lzyhc2WuVX1qkshedo1_500.gif">
</div>
<!--########################################################-->
<!--#############[          Buttons            ]############-->
<!--########################################################-->

<div class="zx-center" style="text-align:center">
 
     <button   type="submit" 
               class="btn btn-primary ">
                Login
                </button>
  
  
      <button   type="submit" 
               class="btn btn-primary ">
                Search
                </button>
  
</div>


<!--########################################################-->
<!--#############[         social Icons        ]############-->
<!--########################################################-->
<div class="zx-center" >
  
  <div class="container">  
        <span class="button fb">  
            <a href="#"><img src="http://png-1.findicons.com/files/icons/2052/social_network/32/facebook.png" alt="">Like It</a>  
        </span>  
  
        <span class="button twit">  
            <a href="#"><img src="http://png-4.findicons.com/files/icons/2192/flavour_extended/48/twitter_standing.png" alt="">Tweet It</a>  
        </span>  
  
        <span class="button mail">  
            <a href="#"><img src="http://png-1.findicons.com/files/icons/1696/once/48/mail.png" alt="">Email</a>  
        </span>  


</div>

<!--########################################################-->
<!--#############[        google code          ]############-->
<!--########################################################-->
<!-- <div id="body">
  <div id="feedControl">Loading...</div>
</div> -->


<!--########################################################-->
<!--#############[         Grids               ]############-->
<!--########################################################-->

<div class="container-fluid">
<div class="wrapper" style="text-align:center">

  <div id="ex_1"> <h3>Personal Motivation </h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil aut illo, nisi incidunt dolorem, enim sint! Culpa in aliquam ut consectetur nam illum eaque iste doloremque, aliquid, deleniti nemo dolore.</p>
    <h3>{{ title2 }}</h3>
  <img width="300" alt="Giffy Logo" src="https://www.crowdspring.com/blog/wp-content/uploads/2016/08/tumblr_mf5ylr5ZkW1r6mnq4o1_1280.gif">
    </div>


  <div id="ex_2"> <h3>Get Motivated</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil aut illo, nisi incidunt dolorem, enim sint! Culpa in aliquam ut consectetur nam illum eaque iste doloremque, aliquid, deleniti nemo dolore.</p>
  <h3>{{ title1 }}</h3>
  <img width="300" alt="Giffy Logo" src="https://raw.githubusercontent.com/Giphy/GiphyAPI/master/api_giphy_header.gif">
</div>

  <div id="ex_3"> <h3>Become a Winner</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil aut illo, nisi incidunt dolorem, enim sd, deleniti nemo dolore. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellint! Culpa in aliquam ut consectetur nam illum eaque iste doloremque, aliquid, deleniti nemo dolore.</p>
  <h3>{{ title3 }}</h3>
  <iframe width="360" height="235" src="https://www.youtube.com/embed/izIFLbFXuC4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>
</div> <!-- [end wrapper] -->

<div class="container-fluid">
<div class="image_wrapper" >


</div>
</div>


<div class="wrapper" style="text-align:center">

  <div id="ex_4"> <h3>Header info</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil aut illo, nisi incidunt dolorem, enim sint! d, deleniti nemo dolore. Lorem ipsum dolor sit amet, consectetur adipisicing elit. RepellCulpa in aliquam ut consectetur nam illum eaque iste doloremque, aliquid, deleniti nemo dolore.</p>
</div>

  <div id="ex_5"> <h3>Header info</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil aut illo, nisi incidunt dolorem, enim sint! Culpa in aliquam ut consectetur nam illum eaque iste doloremque, aliquid, deleniti nemo dolore.</p>
</div>

 <div id="ex_6"> <h3>Header info</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil aut illo, nisi incidunt dolorem, enim sint! Culpa in aliquam ut consectetur nam illum eaque iste doloremque, aliquid, deleniti nemo dolore. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, expedita, vero. Illo, soluta error beatae eaque iusto sit vel, omnis alias animi sequi odio, magni. Alias deserunt nostrum voluptatem eligendi?</p>
</div>
</div> <!-- [end wrapper] -->
</div>  <!-- [end container fluid] -->



<div style="text-align:center">

  <h3>{{ title1}}</h3>
  <img width="300" alt="Giffy Logo" src="https://raw.githubusercontent.com/Giphy/GiphyAPI/master/api_giphy_header.gif">

  <h3>{{ title2}}</h3>
  <img width="300" alt="Giffy Logo" src="https://www.crowdspring.com/blog/wp-content/uploads/2016/08/tumblr_mf5ylr5ZkW1r6mnq4o1_1280.gif">

  <h3>{{ title3}}</h3>

  <iframe width="360" height="235" src="https://www.youtube.com/embed/izIFLbFXuC4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

  
<h3>{{ title4}}</h3>

<img width="300" alt="Giffy Logo" src="https://www.google.com">



<h3>{{ title5}}</h3>
<img width="300" alt="Giffy Logo" src="https://www.google.com/imgres">




<!-- <h3>{{ title1}}</h3> -->
  <!-- <img width="300" alt="Giffy Logo" src=""> -->
  <!-- <img width="300" alt="Giffy Logo" src=""> -->
  <!-- <img width="300" alt="Giffy Logo" src=""> -->
  <!-- <img width="300" alt="Giffy Logo" src=""> -->
  
</div>


<!-- <img width="300" alt="Giffy Logo" src=""> -->


<!-- 
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>
 -->


